@use "utils" as u;

.About {
  margin-top: u.toRem(50);
  margin-left: u.toRem(150);
  margin-right: u.toRem(100);
  &__heading {
    margin-bottom: u.toRem(60);
    text-align: center;
    color: #81adee;
    font-weight: bold;
    font-size: u.toRem(24);
  }

  &__contents {
    display: flex;
    flex-direction: row;
    p {
      line-height: 2;
    }
  }
}

.video {
  height: u.toRem(350);
  margin-right: u.toRem(200);
  margin-bottom: u.toRem(80);
}
