@use "color" as c;

.choose {
  display: flex;
  flex-direction: column;
  &__heading {
    margin-bottom: 50px;
    margin-left: 150px;
    margin-right: 100px;
    &Text {
      font-weight: normal;
      font-size: 24px;
      color: c.$button-hover-color;
    }
    &Content {
      display: flex;
      justify-content: space-between;
      gap: 200px;
      margin-top: 30px;
      &Subtitle {
        font-size: 36px;
      }
    }
  }

  &__cards {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 80px;
    margin-left: 150px;
    margin-right: 80px;
    &1 {
      margin: 0 auto;
      padding: 10px 50px;
      padding-bottom: 70px;
      width: 250px;
      display: grid;
      place-items: center;
      text-align: center;
      border-radius: 15px;
      border: none;
      box-shadow: 1px 20px 20px rgba(0, 0, 0, 0.192);
    }

    &2 {
      margin: 0 auto;
      padding: 10px 50px;
      padding-bottom: 70px;
      width: 250px;
      display: grid;
      place-items: center;
      text-align: center;
      border-radius: 15px;
      border: none;
      box-shadow: 1px 20px 20px rgba(0, 0, 0, 0.192);
      &Text {
        padding-bottom: 22px;
      }
    }

    &3 {
      margin: 0 auto;
      padding: 10px 50px;
      padding-bottom: 70px;
      width: 250px;
      display: grid;
      place-items: center;
      text-align: center;
      border-radius: 15px;
      border: none;
      box-shadow: 1px 20px 20px rgba(0, 0, 0, 0.192);
    }
  }

  img {
    height: 100px;
  }

  h4 {
    margin-top: 40px;
    margin-bottom: 20px;
  }
}
