@use "utils" as u;

.header {
  @include u.background("../images/background.png");
  position: relative;
  height: u.toRem(300);
  width: u.toRem(1920);
  display: flex;
  justify-content: center;
}

.hero {
  &__heading {
    display: flex;
    justify-content: center;
    padding-top: u.toRem(95);
    font-weight: 450;
    font-size: u.toRem(32);
  }
  &__subTitle {
    display: flex;
    justify-content: center;
  }
  &__searchBar {
    display: flex;
    justify-content: center;
  }
}
