@use "utils" as u;

.header {
  @include u.background("../images/background.png");
  position: relative;
  height: 300px;
  width: 1920px;
  display: flex;
  justify-content: center;
}

.hero {
  &__heading {
    display: flex;
    justify-content: center;
    padding-top: 95px;
    font-weight: 450;
    font-size: 32px;
  }
  &__subTitle {
    display: flex;
    justify-content: center;
  }
  &__searchBar {
    display: flex;
    justify-content: center;
  }
}
