@use "utils" as u;

.header{
  @include u.background("../images/background.png");
  position: relative;
  height: 300px;
  width: 1920px;
  display: flex;
  justify-content: center;
}

.hero--heading{
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.hero--subTitle{
  display: flex;
  justify-content: center;
}

.hero--searchBar{
  display: flex;
  justify-content: center;
}

