.homeContainer {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  &__links {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__About {
    margin-top: 100px;
    padding-bottom: 50px;
    background-color: #e2f0fd;
  }
}
