@use "media-queries" as m;
@use "utils" as u;

.navbar {
  height: u.toRem(100);
  background-color: white;
  display: flex;
  justify-content: center;
  padding: u.toRem(28) u.toRem(0);
  &__container {
    width: u.toRem(100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: u.toRem(1200);
    &LogoImage {
      width: u.toRem(300);
    }
  }
}

.nav {
  &__Button {
    border: none;
    padding: u.toRem(5 10);
    cursor: pointer;
    color: black;
    background-color: white;
  }
}
