@use "media-queries" as m;

.navbar {
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 28px 00px;
  &__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &LogoImage {
      margin-left: 50px;
      width: 300px;
    }
  }
}

.nav {
  &__Items {
    margin-right: 200px;
  }

  &__Button {
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: black;
    background-color: white;
  }
}
