.pList {
  gap: 20px;
  display: flex;
  justify-content: center;

  &__item {
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
  }

  &__img {
    height: 150px;
    object-fit: cover;
  }

  &__titles {
    > h1 {
      font-size: 18px;
      color: #444;
      text-transform: capitalize;
      margin-bottom: 5px;
    }

    > h2 {
      font-size: 14px;
      font-weight: 300;
    }
  }
}
