@use "utils" as u;

.pList {
  gap: u.toRem(20);
  display: flex;
  justify-content: center;

  &__item {
    border-radius: u.toRem(10);
    overflow: hidden;
    cursor: pointer;
  }

  &__img {
    height: u.toRem(150);
    object-fit: cover;
  }

  &__titles {
    > h1 {
      font-size: u.toRem(18);
      color: #444;
      text-transform: capitalize;
      margin-bottom: u.toRem(5);
    }

    > h2 {
      font-size: u.toRem(14);
      font-weight: 300;
    }
  }
}
